<div class="push"></div>
</div>

<div id="ftr" align="center">
  <div id="ft" class="clear-fix">
    <!--sites/uspto.gov/includes/general/footer.inc-->
    <!-- Footer content in all the pages -->
    <div class="colLogos"> <a href="http://www.uspto.gov/" title="United States Patent and Trademark Office"><img src="http://www.uspto.gov/includes/i/footer_uspto.png" alt="United States Patent and Trademark Office" border=0 /></a><br/>
    </div>
    <div class="col">
      <ul class="footer">
        <li><a href="http://www.uspto.gov/accessibility.jsp">Accessibility</a></li>
        <li><a href="http://www.uspto.gov/privact.jsp">Privacy Policy</a></li>
        <li><a href="http://www.uspto.gov/termsofuse.jsp">Terms of Use</a></li>
        <li><a href="http://www.uspto.gov/faq/security.jsp">Security</a></li>
        <li><a href="http://www.uspto.gov/news/index_emergency.jsp">Emergencies/Security Alerts</a></li>
        <li><a href="http://www.uspto.gov/products/catalog/infoqualityguide.jsp">Information Quality Guidelines</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="footer">
        <li><a href="http://www.uspto.gov/about/stratplan/fair/index.jsp">Federal Activities Inventory Reform (FAIR) Act</a></li>
        <li><a href="http://www.uspto.gov/about/offices/cao/ocr/nofear/index.jsp">Notification and Federal Employee Antidiscrimination and Retaliation (NoFEAR) Act</a></li>
        <li><a href="http://www.uspto.gov/about/stratplan/index.jsp">Budget &amp; Performance</a></li>
        <li><a href="http://www.uspto.gov/ip/boards/foia_rr/index.jsp">Freedom of Information Act (FOIA)</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="footer">
        <li><a href="http://www.osec.doc.gov/ocr/nofear/nofear.htm">Department of Commerce NoFEAR Act Report</a></li>
        <li><a href="http://www.regulations.gov">Regulations.gov</a></li>
        <li><a href="http://www.stopfakes.gov">STOP!Fakes.gov</a></li>
        <li><a href="http://www.commerce.gov">Department of Commerce</a></li>
        <li><a href="http://www.usa.gov">USA.gov</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="footer">
        <li><a href="http://www.uspto.gov/ip/global/stopfakes.jsp">Strategy Targeting Organized Piracy (STOP!)</a></li>
        <li><a href="http://www.uspto.gov/careers/">Careers</a></li>
        <li><a href="http://www.uspto.gov/siteindex.jsp">Site Index</a></li>
        <li><a href="http://www.uspto.gov/about/contacts/index.jsp">Contact Us</a></li>
        <li><a href="mailto:webmaster@uspto.gov">USPTO Webmaster</a></li>
      </ul>
    </div>
  </div>
</div>
